{% extends 'bootstrap.html' %}

{% load bootstrap3 %}
{% load static %}

{% block bootstrap3_extra_head %}
    <link href="{% static 'admin/css/base.css' %}" rel="stylesheet">
{% endblock %}

{% block bootstrap3_content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Jedi Academy</a>
            </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'jedi_full_list' %}">Jedis list</a></li>
                    <li><a href="{% url 'jedi_list_w_padavans' %}">Jedis list with padavans</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <h1>{% block h1_header %}{% endblock %}</h1>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}