{% extends 'base.html' %}
{% load bootstrap3 %}


{% block h1_header %}Рады приветствовать тебя Джедай в ордене Джедаев{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <h3 class="panel-title">Выбери себе падавана:</h3>
        <div class="panel-body">
            <form method="POST" class="post-form" action="{% url 'candidate_check' jedi_id %}">
                {% csrf_token %}
                {% for answer in answers %}
                    <div>candidate : {{ answer.candidate }} question: {{ answer.question }} answers: {{ answer.answer }} </div>
                {% endfor %}

                {% bootstrap_form form layout='horizontal' %}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
    </div>
{% endblock %}