{% extends 'base.html' %}
{% load bootstrap3 %}


{% block h1_header %}Рады приветствовать тебя Джедай в ордене Джедаев{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <h3 class="panel-title">Выбери свое имя:</h3>
        <div class="panel-body">
            <form method="POST" class="post-form" action="{% url 'jedi_select' %}">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
    </div>
{% endblock %}