{% extends 'base.html' %}
{% load bootstrap3 %}


{% block h1_header %}Список джедаев с падаванами{% endblock %}

{% block content %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Джедай</th>
                <th>Количество падаванов</th>
            </tr>
        </thead>
        {% for jedi in jedis %}
            <tr>
                <td>{{ jedi.name }}</td>
                <td>{{ jedi.counts }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}