{% extends 'base.html' %}
{% load bootstrap3 %}


{% block title %}Кадровая служба ордена Джедаев{% endblock %}

{% block content %}
    <a class="btn btn-default btn-lg btn-block" href="{% url 'jedi_select' %}" role="button">Для Джедаев</a>
    <a class="btn btn-default btn-lg btn-block" href="{% url 'new_candidate' %}" role="button">Для Кандидатов</a>
{% endblock %}