{% extends 'base.html' %}
{% load bootstrap3 %}


{% block h1_header %}Рады приветствовать тебя Кандидат в ордене Джедаев{% endblock %}

{% block content %}
    {% if form %}
        <div class="panel panel-default">
            <h3 class="panel-title">New candidate:</h3>
            <div class="panel-body">
                <form method="POST" class="post-form" action="{% url 'new_candidate' %}">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}
                    <button type="submit" class="save btn btn-default">Save</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}