{% extends 'base.html' %}
{% load bootstrap3 %}


{% block h1_header %}Рады приветствовать тебя Кандидат в ордене Джедаев{% endblock %}

{% block content %}
        <div class="panel panel-default">
            <h3 class="panel-title">Ответь на вопросы:</h3>
            <div class="panel-body">
                <form method="POST" class="post-form" action="{% url 'questions' candidate_id %}">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Вопрос</th>
                                <th>Ответ</th>
                            </tr>
                        </thead>
                    {% for question in questions %}
                        <tr>
                            <td>{{ question.questions_text }}</td>
                            <td><input type="checkbox" name="{{ question.id }}"></td>
                        </tr>
                    {% endfor %}
                    </table>

                    <button type="submit" class="save btn btn-default">Save</button>
                </form>

            </div>
        </div>
{% endblock %}